<th:block th:fragment="header">
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/sandwich/all">Sandwich Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sandwich/add">Add Sandwich</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ingredient/all">Ingredient List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ingredient/add">Add Ingredient</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panier/">Panier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</th:block>