<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandwich</title>
    <th:block th:replace="~{fragment/fragments :: base_css}"></th:block>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<main>
<h1>HomePage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet dolores ipsam perspiciatis ullam! Ab corporis
        dolore esse hic obcaecati odit qui quisquam rerum velit! Animi nulla obcaecati omnis quia.</p>
</main>
<th:block th:replace="~{fragment/footer :: footer}"></th:block>
<th:block th:replace="~{fragment/fragments :: base_js}"></th:block>
</body>
</html>